@import "bootstrap";
body{
  @include size(100%);
  font-size: 16px;padding-top: 50px;
}
button,input{
   outline: none !important;
 }
a{
  text-decoration: none !important;
}

#baner{
  background: #20c997 ;
  background-size: cover;
  color: white;
  height: 405px;
  text-align: center;
}
.top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f8f9fa;
  z-index: 100000;
}
#search{
  position: absolute;
  top: 225px;
  width: 100%;
  border-radius: 35px;
  .search-icon{
    background: #fff;
    border: none;
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
  }
  .search-text{
    background: #fff;
    border: none;
    border-top-right-radius:35px ;
    border-bottom-right-radius: 35px;
  }
  input{
    border: none;
  }
}
#search:hover{
  border-color:#007bff;
  box-shadow: 0 0 0 0.5rem rgba(0, 123, 255, 0.25);
}
.qa{
  color: white;
  background: red;
  height: 65px;
  font-size: 32px;
  line-height: 65px;
  border-radius: 8px;
  position: absolute;
  top: -32px;
}
#menu,.menu{
  font-size: 18px;
  a{
    color: #1d2124;
  }
  button{
    outline: none;
  }
  ul{
    width: 100%;
  }
  .hu{
    transition: font-size 0.3ms, color 0.3s;
  }
  .hu:hover{
    font-size: 20px;
    color: #dc3545;
  }
}

.bt-more{
  width: 100%;
  position: absolute;
  bottom: -1.2rem;
  button{
    border-radius: 1.5rem;
  }
  button:hover{
    background: #dc3545 !important;
    color: #f8f9fa;
  }
}
#main{
  padding: 5rem 0;
}
.list-cmt{
  img{
    @include size(50px)
  }
  button{
    border-radius: 1.5rem;
    font-size: 12px;
  }
}
.comment-user{
  a{
    color: #6610f2;
  }
}
.subject-cmt{
  width: 5rem;
}
.answered{
  img{
    @include size(25px)
  }
  button{
    @include size(35px)
  }
}
#top-member{
  img{
    box-shadow: 0 0 0 4px #6c757d;
    @include size(50px);
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  }
  img:hover{
    box-shadow: 0 0 0 8px #6c757d;
  }
  .act{
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0 4px #dc3545;
  }
  .act:hover{
    box-shadow: 0 0 0 8px #dc3545;
  }

}
.bt-ask{
  width: 50%;
  font-size: 16px;
}
.ask{
  font-size: 20px;
}
.load-more{
  button{
    border-radius: 1.5rem;
  }
}
.bg-info{
  background:  #6ad0f2;
}
@include media-breakpoint-down(sm){
  .answer,.search{
    display: none;
  }
  .search-coll{

  }
  .search__icon {
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem !important;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    background: transparent;
  }
  .search__field{
    border-bottom: 1px solid #1d2124 !important;
  }
  .search__wrapper{
    border: none!important;
  border-radius: 0 !important;

    box-shadow: none !important;
  }
}
@include media-breakpoint-down(md){
  .offcanvas-collapse {
    position: fixed;
    top: 12%;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--light);
    transition: transform .3s ease-in-out;
    transform: translateX(100%);
    z-index: 1000;
  }
  .subject{
    display: none;
  }
  .offcanvas-collapse.open {
    transform: translateX(30%);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: -80px;
    left: 90px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100000;
  }
  .dropright:hover .dropdown-content {
    display: block;
  }
  #sign{
    button{
      border: none;
      border-radius: 35px;
      color: #f8f9fa !important;
      width: 100%;
      text-align: center !important;
    }
    .sign-in{
      background: #007bff;
    }
    .sign-up{
      background:#dc3545;
    }
  }
  .sign{
    width: 40%;
  }
  #sign:focus{

  }
  #search{
    display: none;
  }
  .qa{
    font-size: 25px;
  }
  #navbar-menu{
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap
    }
  }
  .search__wrapper{
    border:  1px solid #1d2124;
    border-radius: 35px;
  }
  .search__field {
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
   .search__wrapper:hover{
    border-color:#007bff;
     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .search__icon {
    @include size(50px);
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
  }
  .ask{
    display: none !important;
  }
  .ask-fix{
    position: fixed;
    top: 90%;
    right: 0;
    button{
      border-top-left-radius:35px ;
      border-bottom-left-radius: 35px;
    }


  }
  .footer{
    display: flex;
    //justify-content: center;
  }
  .info{
    order: 2;
  }
  .mxh{
    order: 1;
  text-align: left !important;
  }
}



